<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "success.jpg" %>
	</div>

	<div id="content">
		<h1>Steadily improving my rails!</h1>
		<p>This is a basic blog that allows users, posts and comments.</p>
		<p>I will be making new apps as I go through my rails journey!</p>
	</div>
</div>